.service{
    color: #000;
    height: 10rem;
    background-color: #ff3b3f;
    width: 50rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.s-wrapper{
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s1,.s2,.s3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.s1 span:nth-child(1){
    font-size: 1.3rem;
    font-weight: 200;
}
.s1 span:nth-child(2){
    font-size: 3rem;
}
.s2 span:nth-child(1){
    font-size: 1.3rem;
    font-weight: 200;
}
.s2 span:nth-child(2){
    font-size: 3rem;
}
.s3 span:nth-child(1){
    font-size: 1.3rem;
    font-weight: 200;
}
.s3 span:nth-child(2){
    font-size: 3rem;
}